.card__description {
  justify-content: space-between;
  margin-top: 0.5rem;
}

.card__editDescriptionButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__editIcon {
  color: white;
}
