.card {
  background-color: #737373;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);
  margin-bottom: 1rem;
}

.card__tagOn {
  width: 3rem;
  height: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.25rem;
}

.card__tagOff {
  display: none;
}

.card__info {
  justify-content: space-between;
}

.card:last-child {
  margin-bottom: 0;
}

.card__infoIcon {
  color: white;
  cursor: pointer;
}

.card__closeIcon {
  color: white;
  cursor: pointer;
  margin-left: 0.75rem;
}

.card__description {
  display: none;
}
