.header {
  background-color: #404040;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);
}

.header__info {
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 95%;
  margin: auto;
}

.header__nomeProjeto {
  margin-left: 1rem;
}

.header__notifications {
  color: white;
}
